@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    ---background1-color: #0c0d0f;
    ---background2-color: rgb(7 7 7/var(--tw-bg-opacity));
    ---text-opacity: 1;
    ---text-color: #e8eaec;
    --fonte-principal: "Nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(---background1-color);
}

.dp-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    background-color: var(---background1-color);
}

.dp-menu ul li {
    position: relative;
}

.dp-menu ul li a {
    display: block;
    padding: 15px;
    color: var(---text-color);
    text-decoration: none;
    text-align: center;
    transition: background 0.2s;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.dp-menu ul li a:hover {
    background-color: rgb(223, 223, 223);
    color:#0c0d0f
}

/* Submenu */
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    width: 150px;
    padding: 0;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul li a {
    display: block;
    text-align: left;
}